<app-create-template [loading]="loading" [register]="register" [form]="form" [modal]="modal" title="CatalogoDeDocumento"
                     (submit)="submit($event)" (cancel)="return()">
  <app-input-template [form]="form" [data]="Nombre"></app-input-template>
      <app-input-template [form]="form" [data]="Descripcion"></app-input-template>
      <app-input-template [form]="form" [data]="Activo"></app-input-template>
      <app-input-template [form]="form" [data]="Prioridad"></app-input-template>
      <app-input-template [form]="form" [data]="Origen"></app-input-template>
      <app-input-template [form]="form" [data]="Requerido"></app-input-template>
</app-create-template>