<app-create-template [loading]="loading" [register]="register" [form]="form" [modal]="modal" title="systemUser"
                     [create]="false" [id]="id" (submit)="submit($event)" (cancel)="return()">
  <app-input-template [form]="form" [data]="user"></app-input-template>
        <app-input-template [form]="form" [data]="password"></app-input-template>
        <app-input-template [form]="form" [data]="email"></app-input-template>
        <app-input-template [form]="form" [data]="selfie"></app-input-template>
        <app-input-template [form]="form" [data]="tag"></app-input-template>
        <app-input-template [form]="form" [data]="fullName"></app-input-template>
        <app-input-template [form]="form" [data]="address"></app-input-template>
        <app-input-template [form]="form" [data]="phone"></app-input-template>
        <app-input-template [form]="form" [data]="area"></app-input-template>
        <app-input-template [form]="form" [data]="idOffice"></app-input-template>
        <app-input-template [form]="form" [data]="idSystemUserStatus"></app-input-template>
        <app-input-template [form]="form" [data]="idSystemRole"></app-input-template>
        <app-input-template [form]="form" [data]="idEmployee"></app-input-template>
        <app-input-template [form]="form" [data]="tries"></app-input-template>
        <app-input-template [form]="form" [data]="position"></app-input-template>
        <app-input-template [form]="form" [data]="skype"></app-input-template>
</app-create-template>