<app-create-template [loading]="loading" [register]="register" [form]="form" [modal]="modal" title="systemRepository"
                     (submit)="submit($event)" (cancel)="return()">
  <app-input-template [form]="form" [data]="name"></app-input-template>
      <app-input-template [form]="form" [data]="description"></app-input-template>
      <app-input-template [form]="form" [data]="size"></app-input-template>
      <app-input-template [form]="form" [data]="table"></app-input-template>
      <app-input-template [form]="form" [data]="tuple"></app-input-template>
      <app-input-template [form]="form" [data]="route"></app-input-template>
</app-create-template>