<app-create-template [loading]="loading" [register]="register" [form]="form" [modal]="modal" title="Seguimiento"
                     (submit)="submit($event)" (cancel)="return()">
  <app-input-template [form]="form" [data]="FechaYHora"></app-input-template>
      <app-input-template [form]="form" [data]="Descripcion"></app-input-template>
      <app-input-template [form]="form" [data]="Conclusiones"></app-input-template>
      <app-input-template [form]="form" [data]="Status"></app-input-template>
      <app-input-template [form]="form" [data]="Empleado"></app-input-template>
      <app-input-template [form]="form" [data]="Medio"></app-input-template>
      <app-input-template [form]="form" [data]="Prospectacion"></app-input-template>
</app-create-template>