<app-create-template [loading]="loading" [register]="register" [form]="form" [modal]="modal" title="ClienteCondicionComercial"
                     (submit)="submit($event)" (cancel)="return()">
  <app-input-template [form]="form" [data]="Cliente"></app-input-template>
      <app-input-template [form]="form" [data]="CatalogoCondicionesComerciales"></app-input-template>
      <app-input-template [form]="form" [data]="Descripcion"></app-input-template>
      <app-input-template [form]="form" [data]="FechaAceptacion"></app-input-template>
      <app-input-template [form]="form" [data]="Status"></app-input-template>
      <app-input-template [form]="form" [data]="UsuarioRegistro"></app-input-template>
      <app-input-template [form]="form" [data]="FechaTupla"></app-input-template>
</app-create-template>